################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Help/v16/Browse.VC.opendb
/.vs/Help/v16
/.vs/slnx.sqlite
